html
{
    /* background: radial-gradient(ellipse at top, #013f01, transparent) no-repeat center center fixed,
            radial-gradient(ellipse at bottom, #49a001, transparent) no-repeat center center fixed; */
        background: url("../img/bg.jpg") no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
       -o-background-size: cover;
        background-size: cover;
}
.navcolor
{
    background-color: rgb(158, 253, 158);
}
#heading
{
    font-size:25px;
    color:rgb(2, 114, 2);
    font-weight:bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.nav-items
{
    margin-left:4%;
    font-size:25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.nav-items a
{
    color:rgb(83, 20, 20);
    transition: color 0.4s, background-color 0.4s;
}
.nav-items a:hover
{
    color:green;
}
.slogan, #about, #services
{
    width:70%;
    margin:auto;
    background-color: rgba(22, 161, 17, 0.15);  
    backdrop-filter: blur(2px);
    box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.2);
    margin-top: 7%;
    padding:2% 1% 2% 1%;
    border-radius: 15px;
    transition: backdrop-filter 0.5s, box-shadow 0.5s, border-radius 0.5s;
}
.slogan:hover, #about:hover, #services:hover
{
    backdrop-filter: blur(8px);
    box-shadow: 8px 8px 8px 3px rgba(0, 0, 0, 0.2);
    border-radius: 40px;
}
.slogan h1, #about h1, #services h1
{
    text-align:center;
    font-size:40px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:rgb(168, 253, 151);
}
#about p, #services li
{
    margin:1% 0.5% 1% 0.5%;
    font-size:20px;
    color:rgb(255, 231, 223);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

/* Footer */
#foot
{
    float: left;
    width:100%;
    color:rgb(190, 255, 202);
    background-color: rgb(0, 24, 2);
    margin-top:6%;
    padding-top:20px;
    height:80px;
    text-align: center;
    position:relative !important;
    top:30vh !important;
}
