html
{
    /* background: radial-gradient(ellipse at top, #013f01, transparent) no-repeat center center fixed,
            radial-gradient(ellipse at bottom, #49a001, transparent) no-repeat center center fixed; */
        background: url("../img/bg.jpg") no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
       -o-background-size: cover;
        background-size: cover;
}
.navcolor
{
    background-color: rgb(158, 253, 158);
}
#heading
{
    font-size:25px;
    color:rgb(2, 114, 2);
    font-weight:bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.nav-items
{
    margin-left:4%;
    font-size:25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.nav-items a, li a
{
    color:rgb(83, 20, 20);
    transition: color 0.4s, background-color 0.4s;
}
.nav-items a:hover
{
    color:green;
}
.slogan1, .slogan2, #about, #gallery, #donate, #contact, #pay
{
    width:70%;
    margin:auto;
    background-color: rgba(22, 161, 17, 0.15);  
    backdrop-filter: blur(2px);
    box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.2);
    margin-top: 7%;
    padding:2% 1% 2% 1%;
    border-radius: 15px;
    transition: backdrop-filter 0.5s, box-shadow 0.5s, border-radius 0.5s;
}
.slogan1, .slogan2
{
  margin-top:10%;
}
#gallery, #contact, .slogan2, #pay
{
    width:60%;
}
.slogan1:hover, .slogan2:hover, #about:hover, #gallery:hover, #donate:hover, #contact:hover, #pay:hover
{
    backdrop-filter: blur(8px);
    box-shadow: 6px 6px 6px 4px rgba(0, 0, 0, 0.5);
    border-radius: 40px;
}
.slogan1 h1, .slogan2 h1, #about h1, #gallery h1, #donate h1, #contact h1, #pay h1
{
    text-align:center;
    font-size:40px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:rgb(168, 253, 151);
}
#about p, #donate li, #donate ul, #contact p
{
    margin:1% 0.5% 1% 2%;
    font-size:20px;
    color:rgb(255, 231, 223);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    list-style-type: square;
}
#contact h2, #contact h2 i
{
    font-size: 22px;
    margin-bottom: 2%;
    color:rgb(255, 231, 223);
    margin-right: 2%;
}
#btncenter, .figimg
{
  text-align: center;
}
/* Slideshow container */
.slideshow-container {
    max-width: 430px;
    position: relative;
    margin: auto;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
    color:white;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .prev, .next {font-size: 11px}
  }
#btn
{
  margin-top:1%;
}
.social-icons
{
  margin:auto;
  text-align: center;
}
.social
{
  margin-top:5%;
    font-size:30px;
    color:rgb(255, 255, 255);
    margin-right:4%;
    padding:10px;
    transition: all 0.5s;
}
.social:hover
{
  color:rgb(1, 24, 1);
}
.field
{
  background-color: rgba(0,0,0,0.8);
  width:50%;
    text-align: center;
    margin-left: auto; 
    margin-right: auto;
    margin-top: 5%;
    padding: 15px;
    margin-bottom: 5%;
  }
  input[type="text"],input[type="number"]
  {
    border:0;
    color:white;
    background-color: transparent;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    outline: none;
    display: inline;
    width: 70%;
    margin-left: 1%;
    font-size:20px;  
  }
  /* input[type="submit"], input[type="reset"],  */
  #btn1, #btn2
  {
    border:0;
    color:white;
    margin:50px auto;
    margin-bottom: 7%;
    font-size:25px;
    font-weight: bold;
    text-align: center;
    padding: 14px 35px;
    border-radius:10px;
    transition:background-color 0.3s;
    cursor: pointer;
  }
  #btn1
  {
    background-color:#001f05;
    margin-left:25%;
  }
  #btn2
  {
    background-color:#300000;
    margin-left:13%;
  }
  /* input[type="submit"]:hover, input[type="reset"]:hover */
  #btn1:hover, #btn2:hover
  {
    background-color:rgba(0, 0, 0, 0.58);
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  /* Footer */
  #foot
  {
      float: left;
      width:100%;
      color:rgb(190, 255, 202);
      background-color: rgb(0, 24, 2);
      margin-top:6%;
      padding-top:20px;
      height:80px;
      text-align: center;
      position:relative !important;
      top:30vh !important;
  }